# Introduction to Python - Conditional Statements

**Remember:** This is a Jupyter notebook, an application that allows us to write code and view exercises easily.

Like Spyder, Jupyter notebooks have cells (Markdown and Code cells) that allow us to separate code and text. Remember that the code cells have a `In [ ]:` on the left hand side!

## Let's Try

**Remember** You can run the next cell using the "<kbd>>| Run</kbd>" button on the toolbar above, or you can press <kbd>Ctrl</kbd> + <kbd>Enter</kbd>.

ðŸš© **Exercise:** Run the next cell to make sure that your notebook is working!

In [1]:
print('Welcome to Conditionals in Python!')

Welcome to Conditionals in Python!

## Warmup - Last Time (Variables & Functions)

Let's see if you can remember what we worked on last week!

ðŸš© **Warmup 1:** What does this code do?

In [2]:
x = 5
y = 10

print(x+y)

15

ðŸš© **Warmup 2:** Make a variable that has your first name as a value.

In [3]:
name1 = "Mark"

ðŸš© **Warmup 3:** How do we remeber the way that Python remembers functions?

ðŸš© **Warmup 4:** What does it mean to define a function?

ðŸš© **Warmup 5:** What does it mean to call a function?

## Exercises - This Week

### Checking Equality

**Remember:** we can use `==` to check if two things are equal.

ðŸš© **Exercise 1:** Check if `5` and `10` are equal. Also check if `105` and `105` are equal.

ðŸš© **Exercise 2:** Check if `4` and `4` are equal. Also, check if `'hi'` and `'yes'` are equal.

ðŸš© **Exercise 3:** Check if `'hello'` and `"hello"` are equal.  Also, check if `'4'` and `'4'` are equal.

ðŸš© **Exercise 4:** Check if `'4'` and `'5'` are equal.  Also, check if `6` and `1` are equal.

ðŸš© **Exercise 5:** Check if `'open'` and `"open"` are equal.  Also, check if `9` and `9` are equal.

ðŸš© **Exercise 6:** Check if `896` and `896` are equal.  Also, check if `'yellow'` and `'green'` are equal.

ðŸš© **Exercise 7:** Check if `6` and `'6'` are equal.  Also, check if `'one'` and `1` are equal.

### Relational Operators

**Remember:** Here are our relational operators.

| Code | Statement (True if...) | True | False |
| --- | --- | --- | --- |
| x == y| x equals y          | 5 == 5 |  5 ==3 |
| x != y| x is not equal to y | 5 != 4 | 4 != 4 |
| x > y | x is greater than y | 5 > 3 | 3 > 5 |
| x < y | x is less than y       | 3 < 5 | 5 < 3 |
| x >= y| x is greater than or equal to y | 4 >= 4 | 2 >= 4 |
| x <= y| x is less than or equal to y | 4 <= 10 | 10 <= 4 |

**Remember:** We can use the operators the same way as the `==`.

In [3]:
print(4 > 5)

False

ðŸš© **Exercise 8:** Use the correct operator to check if: (a) 4 > 2 (b) 7 < 9

ðŸš© **Exercise 9:** Use the correct operator to check if: (a) 4 >= 4 (b) 9 <= 23

ðŸš© **Exercise 10:** Use the correct operator to check if: (a) 45 > 23 (b) 56 < 100

ðŸš© **Exercise 11:** Use the correct operator to check if: (a) 6 >= 7 (b) 6 <= 9

ðŸš© **Exercise 12:** Use the correct operator to check if: (a) 4 != 4 (b) 9 > 1

### Writing Conditional Statements

**Remember:** We write a conditional statement like.

In [4]:
age = 10

if age > 9:
    print('You can go on the ride!')

You can go on the ride!

Here are some useful variables.

In [5]:
x = 100
age = 15
name = 'Alex'
height = 105
school_year = 3

ðŸš© **Exercise 13:** Write a conditional statement that prints `'Yes'` if x is bigger than 50.

ðŸš© **Exercise 14:** Write a conditional statement that prints `'No'` if x is smaller than 50.

ðŸš© **Exercise 15:** Write a conditional statement that prints `'You can watch the movie'` if age is older than or equal to 15.

ðŸš© **Exercise 16:** Write a conditional statement that prints `'This is your bike Alex!'` if the name is `'Alex'`.

ðŸš© **Exercise 17:** Write a conditional statement that prints `'Hello ...!'` if the name is not `'Alex'`.

ðŸš© **Exercise 18:** Write a conditional statement that prints `'Your school book is Harry Potter'` if age is older than or equal to 10 and the school year is 3.

ðŸš© **Exercise 19:** Write a conditional statement that prints `'You are tall enough and old enough for the ride'` if the age is greater than 10 and the height is greater than 100.

ðŸš© **Exercise 20:** Write a conditional statement that prints `'Next year you will not be in year 5'` if the school year is year 4.

Now, change the variables above to these new values and see what happens:
- x = 5
- age = 10
- name = 'Jamie'
- height = 95
- school_year = 4